## Segmenting and Cluster Neighborhoods in Toronto Week 3 - Part 2

## Problem 2

### Get the latitude and the longitude coordinates of each neighborhood in order to utilize the Foursquare location data

In [1]:
# Import required Libraries

import pandas as pd
import numpy as np

### Read Geospatial Data into a dataframe

In [2]:
# Read the Geospatial file data into a dataframe
df_geodata= pd.read_csv("http://cocl.us/Geospatial_data/Geospatial_Coordinates.csv")
df_geodata

    Postal Code   Latitude  Longitude
0           M1B  43.806686 -79.194353
1           M1C  43.784535 -79.160497
2           M1E  43.763573 -79.188711
3           M1G  43.770992 -79.216917
4           M1H  43.773136 -79.239476
..          ...        ...        ...
98          M9N  43.706876 -79.518188
99          M9P  43.696319 -79.532242
100         M9R  43.688905 -79.554724
101         M9V  43.739416 -79.588437
102         M9W  43.706748 -79.594054

[103 rows x 3 columns]

### Rename column Postal Code to PostalCode

In [3]:
df_geodata = df_geodata.rename(columns = {'Postal Code': 'PostalCode'})
df_geodata

    PostalCode   Latitude  Longitude
0          M1B  43.806686 -79.194353
1          M1C  43.784535 -79.160497
2          M1E  43.763573 -79.188711
3          M1G  43.770992 -79.216917
4          M1H  43.773136 -79.239476
..         ...        ...        ...
98         M9N  43.706876 -79.518188
99         M9P  43.696319 -79.532242
100        M9R  43.688905 -79.554724
101        M9V  43.739416 -79.588437
102        M9W  43.706748 -79.594054

[103 rows x 3 columns]

### Load Dataset from Part 1 saved as a csv file

In [4]:
# Load the dataset from Part 1 which was saved as csv file Capstone_Part1.csv
df = pd.read_csv("Capstone_Part1.csv")
df

,Unnamed: 0,PostalCode,Borough,Neighborhood
0,0,M1B,Scarborough,"Malvern, Rouge"
1,1,M1C,Scarborough,"Rouge Hill, Port Union, Highland Creek"
2,2,M1E,Scarborough,"Guildwood, Morningside, West Hill"
3,3,M1G,Scarborough,Woburn
4,4,M1H,Scarborough,Cedarbrae
...,...,...,...,...
98,98,M9N,York,Weston
99,99,M9P,Etobicoke,Westmount
100,100,M9R,Etobicoke,"Kingsview Village, St. Phillips, Martin Grove ..."
101,101,M9V,Etobicoke,"South Steeles, Silverstone, Humbergate, Jamest..."
102,102,M9W,Etobicoke,"Northwest, West Humber - Clairville"

### Drop Unamed:0 Column

In [5]:
# Drop the column
df.drop('Unnamed: 0', axis = 1, inplace =True)

### Merge the two dataset files at PostalCode

In [6]:
# Merge the Geospatial dataset csv  with Part 1 csv file
df= pd.merge(df, df_geodata, on = 'PostalCode')
df.head()

,PostalCode,Borough,Neighborhood,Latitude,Longitude
0,M1B,Scarborough,"Malvern, Rouge",43.806686,-79.194353
1,M1C,Scarborough,"Rouge Hill, Port Union, Highland Creek",43.784535,-79.160497
2,M1E,Scarborough,"Guildwood, Morningside, West Hill",43.763573,-79.188711
3,M1G,Scarborough,Woburn,43.770992,-79.216917
4,M1H,Scarborough,Cedarbrae,43.773136,-79.239476

### Show the number of rows and columns

In [7]:
df.shape

(103, 5)

### Save the file as a csv for using in Part 3

In [8]:
# Save data as Capstone_Part2.csv file
df.to_csv('Capstone_Part2.csv',  index=False)
print('File Successfully Saved')

File Successfully Saved